conceptbase/
*~
/ProductPOOL/**/EXPORT/*
/ProductPOOL/**/classes/*
/ProductPOOL/**/objects/*
*.1
*.2
*.3
/linux/**/Prolog_Files/*.swi.pl
/linux64/**/Prolog_Files/*.swi.pl
/linuxarm/**/Prolog_Files/*.swi.pl

