# $Id: default.cfg,v 14.0 2002/11/25 16:04:15 cbase Exp $

# Default configuration file for Project Tomcat

server.port=8080
server.hostname=
server.inet=
server.docbase=webpages
server.tempdir=tmp

# All sections of the server's namespace are defined in terms of
# a 'webapp'. There are two attributes that define a webapp, 1)
# a mapping of where the webapp is placed into the namespace of
# the server and 2) the base of the webapp. The base can be composed
# of a simple string as shown below which indicates a file
# relative to the current working directory (the directory in which
# the server was started) or can be a full URL.

#server.webapp.papers.mapping=/papers
#server.webapp.papers.docbase=papers

# server.app.wombat.mapping=/wombat
# server.app.wombat.base=http://wombat.eng/apps/wombat.web
